parameters:
    ignoreErrors:
        - '#Call to an undefined method PHPUnit_Framework_MockObject_MockObject::initializeArguments()#'
        - '#[\s\S] PHPUnit_Framework_MockObject_MockObject given.#'